# Kickstarter Startup Analysis

1. How should we design our Kickstarter campaign in order to make our startup funding phase as succesful as possible?
    - **Categorie** (Assumption Tech) - Succesful campaigns
        -> ratio succesful/unsuccesful/live definieren
        -> one-sample 1 tegenover het totaal
        -> two sample 1 tegenover de rest, of Tech vs Design
    - **US vs NL** (Assumption: Silicon Valley vs. the Netherlands)
        -> Average pledged amount in NL hoger OF lager dan in US (1 of 2 sample T test)
    - **Number of backers** (Assumption: popularity of campaign defines popularity of startup)
        -> Ga je voor weinig backers met veel of veel backers met weinig -> verschil in succesful (Hoeveel backers per in je goal)
    -> Zoja/Zonee -> define confidence intervals voor backers voor ons "start-up" plan
    
    - **Pledge amount asked** - Pledged (goal - converted)
    
2. Which pledge amount will lead to the highest possible funding?

3. How could the location of the kickstarter campaign, or the sub-category, influence the success rate of our kickstarter campaign?

**To do**  
~~Elske: Fix git issues  ~~  
Rianne: #Drop duplicates (per project_id, check categorieen - 1, 2 en 3 -- zijn hetzelfde, dus sort_values by pledged amount, keepfirst)  
Rianne: #Currency -> use usd_pledged -> convert_amount can be dropped, fx_rate also, currency also   
Rianne: #Take out live  
~~Elske:  #Canceled and unsuccesful -> Failed~~  
~~Elske:  #Unfold Dict "location" unfold: 'name', 'expanded_country'~~  
~~Elske:  #Create column with average pledge per backer  ~~  
Both: Check for missing values and how to solve them + add code for hypothesis testing

In [58]:
#Importing libraries
import pandas as pd
import numpy as np
import json
from datetime import datetime
import scipy.stats as stats
from scipy.stats import norm

Download the file <a href="https://drive.google.com/drive/folders/1hIBnfoXrXNW2vF_ka8R8Y0mltCmBjqPZ" target="_blank">here</a>.

In [59]:
#Importing the data using a relative path
#Mac
df = pd.read_csv('../Kickstarter_analysis/sep2020.csv', converters={'category': eval})
df.head()

#Windows
#df = pd.read_csv('data\\sep2020.csv')
#df.head()

,backers_count,blurb,converted_pledged_amount,country,created_at,currency,deadline,fx_rate,goal,id,...,pledged,spotlight,state,state_changed_at,usd_pledged,category_id,category_name,category_parent_id,category_parent_name,project_id
0,61,Support great art! Join us as we re-stage the ...,4618,US,1579292017,USD,1583025192,1.0,3000.0,1568973024,...,4618.0,True,successful,1583025192,4618.0,254,Performances,6.0,Dance,3914215
1,52,JinBucha is a new kind of Brewery in North Par...,3461,US,1446051515,USD,1450118057,1.0,20000.0,1782378629,...,3461.0,False,failed,1450118057,3461.0,307,Drinks,10.0,Food,2198010
2,0,"""Taste The Scent of Tea"" Rose and Blanc Tea Ro...",0,US,1518159717,USD,1520233260,1.0,15000.0,2076142479,...,0.0,False,failed,1520233260,0.0,307,Drinks,10.0,Food,3304826
3,2,Bringing Philly cheesesteaks (and other delici...,25,US,1454217596,USD,1459885844,1.0,2000.0,1416797221,...,25.0,False,failed,1459885844,25.0,311,Food Trucks,10.0,Food,2349147
4,150,a frog plushie keychain and frog butt pin for ...,3275,US,1571342290,USD,1574445600,1.0,800.0,1708708142,...,3275.0,True,successful,1574445600,3275.0,28,Product Design,7.0,Design,3834865

**Step 1:** Data Cleaning and Wrangling
- Transforming unix time stamps to datetime

In [60]:
# Dates transformed [['created_at'], ['deadline'], ['launched_at'], ['state_changed_at']]
df[['created_at','deadline', 'launched_at', 'state_changed_at']].apply(pd.to_datetime, unit='s')

,created_at,deadline,launched_at,state_changed_at
0,2020-01-17 20:13:37,2020-03-01 01:13:12,2020-01-31 01:13:12,2020-03-01 01:13:12
1,2015-10-28 16:58:35,2015-12-14 18:34:17,2015-11-14 18:34:17,2015-12-14 18:34:17
2,2018-02-09 07:01:57,2018-03-05 07:01:00,2018-02-09 20:41:27,2018-03-05 07:01:00
3,2016-01-31 05:19:56,2016-04-05 19:50:44,2016-02-05 20:50:44,2016-04-05 19:50:44
4,2019-10-17 19:58:10,2019-11-22 18:00:00,2019-11-08 18:00:00,2019-11-22 18:00:00
...,...,...,...,...
219683,2019-02-21 18:33:41,2019-03-29 21:00:00,2019-02-27 15:12:10,2019-03-29 21:00:02
219684,2013-03-05 20:13:03,2013-08-10 07:45:40,2013-07-05 07:45:40,2013-08-10 07:45:40
219685,2016-06-21 00:35:01,2016-08-13 21:49:58,2016-07-14 21:49:58,2016-08-13 21:49:58
219686,2015-11-28 19:14:15,2016-01-09 19:19:33,2015-12-10 19:19:33,2016-01-09 19:19:34
219687,2020-01-10 21:43:54,2020-03-14 20:54:12,2020-01-14 21:54:12,2020-03-14 20:54:14

- Remove live kickstarter campaings.

In [61]:
# Drop records of unfinished project (category live)
df = df.loc[df['state'] != 'live']
len(df)

# Check if records are dropped
df['state'].value_counts()

213431

- Drop duplicated projects

In [62]:
# Print number of records
print('number of records: ', len(df))

# sort by highest pledged and drop duplicated project ids
df = df.sort_values(by='usd_pledged',ascending=False).drop_duplicates(subset='project_id', keep='first')

# check number of records
print('number of records after dropping duplicated project ids: ', len(df))

,backers_count,blurb,converted_pledged_amount,country,created_at,currency,deadline,fx_rate,goal,id,...,pledged,spotlight,state,state_changed_at,usd_pledged,category_id,category_name,category_parent_id,category_parent_name,project_id
1728,768,A creative and musical looping device.,388277,US,1564672934,USD,1570290825,1.000000,100000.0,255154404,...,388277.00,True,successful,1570290825,388277.000000,339,Sound,16.0,Technology,3784964
1749,57,A photography book by Sean Bradley reflecting ...,2878,US,1474580516,USD,1477593132,1.000000,2000.0,910530514,...,2878.00,True,successful,1477593132,2878.000000,279,Places,15.0,Photography,2690767
2338,132,A book of phone photography from around the wo...,6716,US,1404002258,USD,1409156043,1.000000,6000.0,72705765,...,6716.69,True,successful,1409156043,6716.690000,280,Photobooks,15.0,Photography,1089439
3301,109,A smartphone handset and custom OS with all th...,20893,NZ,1545439535,NZD,1562889601,0.672700,20000.0,1174573733,...,31344.84,True,successful,1562889601,20801.248596,337,Gadgets,16.0,Technology,3539717
3945,128,"Interchangeable, eclectic and personalised pie...",21410,GB,1592487943,GBP,1597788000,1.290304,15000.0,557899770,...,16308.00,True,successful,1597788000,20492.946566,28,Product Design,7.0,Design,4016886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219648,117,"Aliens, Mutants, and what's left of humanity s...",2780,US,1584989831,USD,1600142340,1.000000,500.0,475827453,...,2780.00,True,successful,1600142340,2780.000000,34,Tabletop Games,12.0,Games,3958352
219652,44,Portsmouth Cacao is a duo looking to import 75...,5010,US,1490794206,USD,1495629718,1.000000,5000.0,953189131,...,5010.00,True,successful,1495629719,5010.000000,313,Small Batch,10.0,Food,2940709
219655,67,The Mescalaro Trilogy - A 5E Dungeons and Drag...,2157,US,1588270257,USD,1588881932,1.000000,250.0,1694477749,...,2157.00,True,successful,1588881933,2157.000000,34,Tabletop Games,12.0,Games,3985630
219656,290,A level 0+ adventure & mini-setting for 4-6 pl...,7429,US,1590425671,USD,1594105518,1.000000,750.0,1498297606,...,7429.00,True,successful,1594105518,7429.000000,34,Tabletop Games,12.0,Games,4001638
219672,38,"A Hand-Printed, Hand-Bound Book of Block Print...",2044,US,1577323880,USD,1581092313,1.000000,750.0,2097162512,...,2044.00,True,successful,1581092313,2044.000000,45,Art Books,18.0,Publishing,3887614

- Classify cancelled and unsuccesful as both "unsuccesful"  
Since we are looking to launch a succesful campaign for our start-up, 
we categorize the data in two categories: "Succesful" and "Failed" (compromising canceled and failed campaings).

In [64]:
#Value_counts shows there are both canceled and failed campaigns. Categorize into successfull and unsuccessful
df['state_cat'] = np.where(df['state']=='successful', 'successful', 'unsuccessful')
df['state_cat'].value_counts()

successful      128156
unsuccessful     85275
Name: state_cat, dtype: int64

- Create variable 'average_pledge' per backer

In [65]:
df['average_pledge'] = (df['usd_pledged']/df['backers_count'])
df['average_pledge'].head()

0    75.704918
1    66.557692
2          NaN
3    12.500000
4    21.833333
Name: average_pledge, dtype: float64

- Check for missing values

In [66]:
df.isna().sum()

backers_count                   0
blurb                           8
converted_pledged_amount        0
country                         0
created_at                      0
currency                        0
deadline                        0
fx_rate                         0
goal                            0
id                              0
launched_at                     0
location                      215
name                            0
pledged                         0
spotlight                       0
state                           0
state_changed_at                0
usd_pledged                     0
category_id                     0
category_name                   0
category_parent_id           7737
category_parent_name         7737
project_id                      0
state_cat                       0
average_pledge              16130
dtype: int64

# Data Exploration

In [36]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Defining the category with highest pledge amounts:

In [ ]:
#Grouping the df by main category, sorted by sum of converted_pledged amount.
top_pledged = df.loc[:,df['state'] == 'succesful'].groupby(['category_parent_name']).sum().reset_index().sort_values(by='converted_pledged_amount', ascending=False)
top_backers = df.groupby(['category_parent_name']).sum().reset_index().sort_values(by='backers_count', ascending=False)
#Selecting top five from top_pledged and top_backers
top_five_pledged = top_pledged.head(5)
top_five_backers = top_backers.head(5)
pal_pled = sns.color_palette("Greens_d", len(top_five_pledged))
pal_back = sns.color_palette("Reds_d", len(top_five_backers))
rank_pled = top_five_pledged["converted_pledged_amount"].argsort().argsort()
rank_back = top_five_backers["backers_count"].argsort().argsort()
#Plotting the top five
fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(20, 4))
sns.barplot(ax =axes[0], x='converted_pledged_amount',y='category_parent_name', data=top_five_pledged, linewidth=0.7, palette=np.array(pal_pled[::+1])[rank_pled])
axes[0].set_title('Converted Amount Pledged')
sns.barplot(ax=axes[1], x='backers_count',y='category_parent_name', data=top_five_backers, linewidth=0.7, palette=np.array(pal_back[::+1])[rank_back])
axes[1].set_title('Number of Backers');

In [ ]:
plt.figure(figsize=(15, 10))
sns.boxplot(x='category_parent_name', y='converted_pledged_amount', hue='state', data=df, orient='v', showfliers=False);
plt.title('Converted Pledged Amount per Category Parent', fontsize=20);
plt.xlabel('Category Parent', fontsize=18)
plt.ylabel('Converted Pledged Amount)', fontsize=18)
plt.xticks(fontsize=10)
plt.yticks(fontsize=15);

#Can we use "proportion of the population" - om significant verschil tussen succesful (tech en de rest)

In [ ]:
df.groupby(['category_name']).sum().sort_values(by='converted_pledged_amount', ascending=False)

In [ ]:
#corr
corr = df['converted_pledged_amount'].corr(df['backers_count'])
#set figure size
plt.figure(figsize=(15, 10))
#plot the data
sns.regplot(data=df,x=df['converted_pledged_amount'],y=df['backers_count'], ci=None)
#format the plot
text = 'r=%s' % (corr)
plt.text(1, 19, text, fontsize=14)
plt.title('', fontsize=20);
plt.xlabel('', fontsize=18)
plt.ylabel('', fontsize=18)
plt.xticks(fontsize=18)
plt.yticks(fontsize=18);

# Statistical Analysis

In [25]:
#Confidence Intervals:
# To define between pledge amount x and x we should ask
# To define between number of backers x and x we should aim for

# One-sample
# 1 category opposed to population mean

# Two-sample
#2 categories (tech vs. food) and Netherlands/Europe vs. US

- Categorie (Assumption Tech) 
        - Succesful campaigns
        -> ratio succesful/unsuccesful/live definieren
        -> one-sample 1 tegenover het totaal
        -> two sample 1 tegenover de rest, of Tech vs Design 
Elske

In [ ]:
#Compute proportion successful campaigns in total

- US vs NL (Assumption: Silicon Valley vs. the Netherlands)
    - Usd pledged in NL hoger OF lager dan in US (1 of 2 sample T test)  
    -> Dict "location" needs to be unfolded ('name', 'expanded_country')  
    -> Test binnen alle categorien eerst, eventueel later alleen in hierboven gekozen categorie  
Rianne

- Number of backers (Assumption: popularity of campaign defines popularity of startup)
    - Ga je voor weinig backers met veel of veel backers met weinig -> verschil in succesful  
        -> Define average pledge per backer (see to do)  
        -> Succesful versus unsuccesful (2-sample: avg. per backer succesful versus avg. per backer unsuccesful)  
            We verwachten dat dit verschilt - gemiddelde bij succesvol hoger
Rianne  
            
- Zoja/Zonee -> define confidence intervals voor backers voor ons "start-up" plan (binnen onze categorie?)  

Elske

In [67]:
# Sample represents the numbers of backers for succesful campaigns within the "Tech" category
succesful_campaigns = df.loc[df['state'] == 'successful']
succesful_campaigns_tech = succesful_campaigns.loc[succesful_campaigns['category_parent_name'] == 'Technology']
sample = succesful_campaigns_tech['backers_count']

#Compute degrees of freedom
df = len(sample) -1 

#Compute t-statistic, mean and standard error
t = stats.t.interval(0.95,df)[1]
x  = np.mean(sample)
se = np.std(sample) / np.sqrt(len(sample))

#Define confidence intervals
con_int = [round(num,3) for num in [x - (t * se) , x + (t * se)]]
print('With 95 % confidence, the average number of backers for a succesful campaign in Technology:', con_int)

With 95 % confidence, the average number of backers for a succesful campaign: [647.183, 732.726]

Bonus:
In specific categories: Pledge amount asked - Pledged (goal - converted)  
COVID impact 2020 versus 2018/2019 (less pledges than previous years - and in which categories?)  
Other differences in years

1

[51        3297
 65          15
 68           1
 141         19
 213       1092
           ...
 218965    1667
 219029     210
 219176     497
 219414     370
 219644      29
 Name: backers_count, Length: 9008, dtype: int64]